@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?eha404');
  src:  url('fonts/icomoon.eot?eha404#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?eha404') format('truetype'),
    url('fonts/icomoon.woff?eha404') format('woff'),
    url('fonts/icomoon.svg?eha404#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Icon-3:before {
  content: "\e943";
  color: #fff;
}
.icon-Frame:before {
  content: "\e937";
  color: #fff;
}
.icon-Vector-3:before {
  content: "\e938";
  color: #fff;
}
.icon-Vector-4:before {
  content: "\e939";
  color: #fff;
}
.icon-Icon-21:before {
  content: "\e942";
  color: #a3abb0;
}
.icon-Icon-11:before {
  content: "\e941";
  color: #a3abb0;
}
.icon-email1:before {
  content: "\e940";
  color: #a3abb0;
}
.icon-Icon-2:before {
  content: "\e93d";
  color: #a3abb0;
}
.icon-Icon-1:before {
  content: "\e93e";
  color: #a3abb0;
}
.icon-Icon:before {
  content: "\e93f";
  color: #a3abb0;
}
.icon-Vector-2:before {
  content: "\e93a";
  color: #fff;
}
.icon-Vector-1:before {
  content: "\e93b";
  color: #fff;
}
.icon-Vector:before {
  content: "\e93c";
  color: #fff;
}
.icon-XCircle:before {
  content: "\e907";
}
.icon-ChatsCircle:before {
  content: "\e905";
}
.icon-Eye:before {
  content: "\e906";
}
.icon-MapPin:before {
  content: "\e904";
}
.icon-TwitterLogo:before {
  content: "\e903";
}
.icon-CheckCircle:before {
  content: "\e902";
}
.icon-X:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e900";
}
.icon-CaretDown:before {
  content: "\e927";
}
.icon-CaretUp:before {
  content: "\e908";
}
.icon-CaretLeft:before {
  content: "\e928";
}
.icon-CaretRight:before {
  content: "\e929";
}
.icon-FacebookLogo:before {
  content: "\e92a";
}
.icon-InstagramLogo:before {
  content: "\e92b";
}
.icon-PaperPlaneTilt:before {
  content: "\e92c";
}
.icon-PinterestLogo:before {
  content: "\e92d";
}
.icon-XLogo:before {
  content: "\e930";
}
.icon-check:before {
  content: "\e90d";
}
.icon-play-filled:before {
  content: "\e946";
}
.icon-cart:before {
  content: "\e90a";
}
.icon-shopping:before {
  content: "\e90a";
}
.icon-ecommerce:before {
  content: "\e90a";
}
.icon-buy:before {
  content: "\e90a";
}
.icon-purchase:before {
  content: "\e90a";
}
.icon-loop-alt1:before {
  content: "\e90b";
}
.icon-synchronize:before {
  content: "\e90b";
}
.icon-arrows:before {
  content: "\e90b";
}
.icon-reload:before {
  content: "\e90b";
}
.icon-refresh:before {
  content: "\e90b";
}
.icon-right-quote:before {
  content: "\e90c";
}
.icon-quote:before {
  content: "\e90c";
}
.icon-quill:before {
  content: "\e90e";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-quotes-left:before {
  content: "\e977";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-list:before {
  content: "\e90f";
}
.icon-menu:before {
  content: "\e936";
}
.icon-time:before {
  content: "\e911";
}
.icon-truck:before {
  content: "\e912";
}
.icon-transport:before {
  content: "\e912";
}
.icon-transaction:before {
  content: "\e912";
}
.icon-shipping:before {
  content: "\e912";
}
.icon-eye-hidden:before {
  content: "\e913";
}
.icon-cog:before {
  content: "\e914";
}
.icon-gear:before {
  content: "\e914";
}
.icon-settings:before {
  content: "\e914";
}
.icon-options:before {
  content: "\e914";
}
.icon-discout:before {
  content: "\e915";
}
.icon-price:before {
  content: "\e915";
}
.icon-sale:before {
  content: "\e915";
}
.icon-tag:before {
  content: "\e915";
}
.icon-content_copy:before {
  content: "\e934";
}
.icon-subdirectory_arrow_left:before {
  content: "\e916";
}
.icon-send:before {
  content: "\e917";
}
.icon-texture:before {
  content: "\e918";
}
.icon-shopping-cart:before {
  content: "\e919";
}
.icon-phone:before {
  content: "\e91a";
}
.icon-life-buoy:before {
  content: "\e91b";
}
.icon-corner-down-left:before {
  content: "\e91c";
}
.icon-filter:before {
  content: "\e91d";
}
.icon-grid:before {
  content: "\e91e";
}
.icon-share-2:before {
  content: "\e91f";
}
.icon-help-circle:before {
  content: "\e920";
}
.icon-calendar:before {
  content: "\e921";
}
.icon-user:before {
  content: "\e922";
}
.icon-youtube1:before {
  content: "\e923";
}
.icon-message-square:before {
  content: "\e909";
}
.icon-envelope-o:before {
  content: "\e935";
}
.icon-heart-o:before {
  content: "\e924";
}
.icon-cube:before {
  content: "\e925";
}
.icon-skype:before {
  content: "\e926";
}
.icon-microphone:before {
  content: "\e92f";
}
.icon-youtube-play:before {
  content: "\e931";
}
.icon-repeat:before {
  content: "\e932";
}
.icon-star:before {
  content: "\e933";
}
