/* ===============Variable=============== */
:root {
    --font-family: "Manrope", Helvetica;
    --font-text: "Inter", Helvetica;
    --primary-color: #1563df;
    --secondary-color: #4a90e2;
    --text-dark: #161e2d;
    --text-light: #a3aab0;
    --white: #ffffff;
    --black: #000000;
    --gray-dark: #1c1c1e;
    --gray-light: #2d3442;
    --border-color: #ffffff1a;
}