@use 'abstracts';
@use 'reset';
@use 'components/index' as *;
@use 'responsive';
/* =============== Loading Screen =============== */

/* ================Container================ */
.container {
    width: 100%;
    max-width: 1320px;
    margin: auto;
    padding: 0 15px;
}

.wow {
    visibility: hidden
}