.flat-latest-hero {
    padding: 123px 0;
    margin: 128px 100px 0 100px;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    h1,
    .breadcrumb {
        position: relative;
        z-index: 1;
    }

    h1 {
        text-align: center;
        color: var(--white);
        letter-spacing: 2px;
        margin-top: 16px;
        line-height: 68px;
    }



    &.style-2 {
        .breadcrumb {
            margin-top: 0;
            margin-bottom: 16px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0000004D;
        z-index: 0;
    }

}

.list__hero {
    background: url("../images/feature-item/bg-blog-list.png") no-repeat center center;
}

.grid__hero {
    background: url("../images/feature-item/bg-blog-grid.png") no-repeat center center;
}

.post__hero {
    background: url("../images/feature-item/bg-blog-post.png") no-repeat center center;
}


.blog__title {
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    gap: 16px;
}

.blog__hero {
    .hero__title {
        font-size: 56px;
        font-weight: 600;
        line-height: 68px;
    }
}

.blog__content {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 40px;
    position: relative;
    align-items: flex-start;

}

.blog__content .latest-news__image-container {
    aspect-ratio: 16/9;
}

.blog__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 840px;
    gap: 30px
}

.blog__divider {
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: var(--border-card);
    margin: 6px 0;
}

.blog__sidebar {
    width: 410px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: sticky;
    top: 100px;
}

.sidebar__search {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 24px;
    padding: 0 60px 0 0;
    display: flex;

}

.search-form {
    gap: 10px;
    padding: 16px 18px;
    border-radius: 9999px;
    border: 1px solid;
    border-color: var(--border-card);
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.search-form__input {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--black);
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
}

.search-form__input ::placeholder {
    color: var(--text-label);
    opacity: 1;
}

.blog__send-icon {
    background: none;
    border: none;
    cursor: pointer;
    justify-content: center;
    padding: 0;
}

.blog__send-icon:before {
    content: "\e917";
    font-family: "icomoon";
    font-size: 22px;
    line-height: 1;
    color: var(--text-light);
}


.sidebar__categories {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column
}

.sidebar__section-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--black);
    line-height: 30px;
}

.categories-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

.categories-list__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--border-card);
}

.categories-list__name {
    font-weight: 500;
    font-size: 16px;
    color: var(--black);

    &:hover {
        color: var(--primary-color);
        cursor: pointer;
        text-decoration: underline;
    }
}

.categories-list__count {
    font-size: 14px;
    color: var(--text-label);
}


/* ================ FEATURED ================= */



.sidebar__featured {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 0 60px 0 0;
}

/* ================= FEATURED LIST ================= */
.featured-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.featured-list__item {
    display: flex;
    padding: 20px 0;
    border-top: 1px solid var(--border-card);
}

/* ================= FEATURED POST ================= */
.featured-post {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.featured-post__image {
    width: auto;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    flex-shrink: 0;
}

.featured-post__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}

/* ===== TITLE LINK ===== */
.featured-post__title {
    align-self: stretch;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0%;
    line-height: 1.4;
    font-style: normal;
}

.featured-post__link {
    color: var(--black);
    text-decoration: none;
    transition: all 0.2s ease;
    display: inline-block;
}

.featured-post__link:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

/* ===== META ===== */
.featured-post__meta {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    color: var(--text-light);
}

.featured-post__meta .icon-calendar {
    font-size: 12px;
    color: var(--text-label);
}

.featured-post__date {
    flex: 1;
    font-weight: 400;
    color: var(--text-label);
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.3;
    font-style: normal;
}

// ================ NEWSLETTER =================
.sidebar__newsletter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}


.newsletter__description {
    position: relative;
    align-self: stretch;
    font-weight: 400;
    color: var(--text-label);
    font-size: 12px;
    letter-spacing: 0%;
    line-height: 1.333;
    font-style: normal;
}

.newsletter__form {
    height: 54px;
    gap: 10px;
    padding: 16px 18px;
    border-radius: 9999px;
    border: 1px solid;
    border-color: var(--border-card);
    display: flex;
    align-items: center;
    position: relative;
    align-self: stretch;
    width: 100%;
}



// ================ TAGS =================
.sidebar__tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    padding: 0 60px 0 0;
}

.tags-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.tags-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.tags-group__tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    border-radius: 99px;
    border: 1px solid var(--border-card);
    color: var(--black);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.tags-group__tag:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
}


// ================== BLOG POST ITEM ==================
.blog-post__header {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.blog-post__title {
    font-weight: 800;
    color: var(--black);
    line-height: 44px;
}

.blog-post__meta {

    width: 100%;
    padding-top: 20px;
    border-top: 1px solid var(--border-card);
}

.social {
    display: flex;
    justify-content: space-between;
    gap: 20px
}

.blog-post__meta-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.blog-post__meta-icon {
    width: 16px;
    height: 16px;
}



.blog-post__meta-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    font-weight: 600;
    color: var(--text-label);
    font-size: 16px;
    line-height: 1.4;
    white-space: nowrap;
}

.blog-post__intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 600;
    color: var(--black);
    font-size: 14px;
    line-height: 1.4;
}

.blog-post__featured-image {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.blog-post__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.blog-post__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}

.blog-post__section-title {
    line-height: 30px;
    font-weight: 600;
}

.blog-post__section-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.blog-post__paragraph {
    font-weight: 400;
    color: var(--black);
    font-size: 14px;
    line-height: 1.4;
    width: 100%;
}

.blog-post__quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding: 30px;
    background-color: var(--bg-three);
    width: 100%;
    border-radius: 10px;
    border-left-width: 4px;
    border-left-style: solid;
    border-color: var(--primary-color);
    color: var(--primary-color);
    font-size: 14px;


}

.blog-post__quote-highlight {
    font-weight: 400;
    width: 100%;

}

.blog-post__quote-author {
    font-weight: 600;
}

.blog-post__gallery {
    gap: 10px;
    width: 100%;
}

.blog-post__image {
    width: 100%;
    height: 100%;
}

// ==============Meta===========



.blog-post__tags {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.blog-post__tags-label {
    font-weight: 600;
    font-size: 14px;
}

.blog-post__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    border-radius: 999px;
    gap: 10px;
    border: 1px solid var(--border-card);
    background-color: var(--white);
    color: var(--text-label);
    transition: all 0.3s ease;
    cursor: pointer;
}

.blog-post__tag:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

/* Share icons */
.blog-post__share {
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog-post__share-label {
    font-weight: 400;
    color: var(--text-label);
    font-size: 14px;
}

.blog-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--border-card);
    background-color: var(--white);
    color: var(--text-light);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.blog-icon:hover {
    background-color: var(--primary-color);
    color: var(--white);
    border-color: var(--primary-color);
}

// ==============Comment===============
.blog-post__comments {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.blog-post__comments-header {
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.blog-post__comments-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.comment {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    padding: 34px 0;
    border-top: 1px solid var(--border-card);
}

.comment__avatar {
    width: 60px;
    height: 60px;
    border-radius: 14px;
    object-fit: cover;
}

.comment__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.comment__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.comment__author {
    width: fit-content;
    font-weight: 600;
    color: var(--black);
    line-height: 1.4;
    white-space: nowrap;
}

.comment__date {
    width: fit-content;
    font-weight: 400;
    color: var(--text-label);
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 16px;
    white-space: nowrap;
}

.comment__text {
    font-weight: 400;
    color: var(--black);
    font-size: 14px;
    line-height: 1.4;
}

.comment__actions {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.comment__action {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: center;
    background-color: var(--white);
    padding: 6px 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.comment__action-icon {
    position: relative;
    width: 18px;
    height: 18px;
    transition: all 0.3s ease;
}

.comment__action-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: var(--text-label);
    font-size: 12px;
    line-height: 1.4;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.comment__action:hover {
    color: var(--primary-color);
}

.comment__action:hover .comment__action-text {
    color: var(--primary-color);
}


.comment__action:hover .comment__action-icon {
    filter: brightness(0) saturate(100%) invert(32%) sepia(91%) saturate(1359%) hue-rotate(198deg) brightness(88%) contrast(100%);
}


// ============Comment Form=================
.blog-post__comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    padding: 10px 0px 0px;
    width: 100%;
    border-radius: 8px;
}

.blog-post__comment-form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}


.blog-post__comment-form-description {
    width: fit-content;
    color: var(--text-label);
    font-size: 14px;
    line-height: 1.4;

}

.blog-post__comment-form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    align-self: stretch;
    width: 100%;
}

.blog-post__comment-form-row {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: 100%;
}

.blog-post__comment-form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1;
}

.blog-post__comment-form-label {
    font-weight: 600;
    color: var(--black);
    font-size: 14px;
    text-align: center;
    line-height: 1.4;
    white-space: nowrap;
    width: fit-content;
}

.blog-post__comment-form-input {
    height: 54px;
    align-items: center;
    border-radius: 99px;
    display: flex;
    gap: 10px;
    padding: 16px 18px;
    width: 100%;
    border: 1px solid var(--border-card);
}

.blog-post__comment-form-textarea-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.blog-post__comment-form-textarea {
    height: 130px;
    align-items: flex-start;
    border-radius: 16px;
    display: flex;
    gap: 10px;
    padding: 16px 18px;
    width: 100%;
    border: 1px solid var(--border-card);
}

.blog-post__comment-form-submit {
    all: unset;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    height: 54px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 11px 20px;
    border-radius: 9999px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.blog-post__comment-form-submit-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: var(--white);
}

.blog-post__comment-form-submit:hover {
    background-color: var(--white);
    border: 1px solid var(--primary-color);
}

.blog-post__comment-form-submit:hover .blog-post__comment-form-submit-text {
    color: var(--primary-color);
}