// categories
.categories-item {
    padding: 30px 24px 24px 24px;
    background-color: var(--white);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
    z-index: 1;
    border: 1px solid var(--border-card);

    .icon-box {
        overflow: hidden;

        .icon {
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
            font-size: 80px;
            color: var(--text-label);
        }

        svg path {
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
    }

    .content {

        h6,
        p {
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            -ms-transition: all 0.4s ease;
            -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }
    }

    &.active,
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        h6 {
            color: var(--primary-color);
        }

        // background-color: $primary;
        .icon-box {
            .icon {
                color: var(--primary-color);
            }

            svg path {
                fill: var(--primary-color);
            }

            img {
                filter: brightness(0) saturate(100%) invert(32%) sepia(91%) saturate(1359%) hue-rotate(198deg) brightness(88%) contrast(100%);
                transform: scale(1.05);
            }
        }

        // &::before {
        //     transform: scale(1, 1);
        //     transform-origin: top center;
        // }
    }

    &.style-02 {
        border-color: transparent;
        overflow: hidden;

        &.active,
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

            .icon-box {
                .icon {
                    color: var(--white);
                }

                svg path {
                    fill: var(--white);
                }

                img {
                    filter: brightness(0) invert(1);
                    transform: scale(1.05);
                }
            }

            .content {

                h6,
                p {
                    color: var(--white);
                }
            }

            &::before {
                transform: scale(1, 1);
                transform-origin: top center;
            }

        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: var(--primary-color);
            transform: scale(1, 0);
            transition: transform 400ms ease;
            transform-origin: bottom center;
            z-index: -1;
            border-radius: 16px;
        }
    }
}

.flat-categories {
    overflow: hidden;
}

.tf-sw-categories {
    .sw-pagination {
        .swiper-pagination-bullet {
            background-color: #acc6ec;
        }
    }
}

.flat-categories-v3 {
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
}

.categories-item-v2 {
    width: 125px;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--border-card);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
    border-radius: 16px;

    .icon-box {
        path {
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }

    .content {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: var(--text-label);
    }

    &.active,
    &:hover {
        border-color: var(--primary-color);
        ;
        background-color: var(--primary-color);
        ;

        .icon-box {
            svg path {
                fill: var(--white);
            }
        }

        .content {
            color: var(--white);
            ;
        }
    }
}

.wrap-categories-v3 {
    .navigation {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
        z-index: 123;
        border-radius: 8px;

        .icon {
            font-size: 16px;
        }
    }

    .swiper-nav-next {
        left: 20px;
    }

    .swiper-nav-prev {
        right: 20px;
    }
}