.property-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--border-card);
    border-radius: 16px;
    overflow: hidden;

    .property-image {
        position: relative;
        width: 100%;
        aspect-ratio: 3/2;
        overflow: hidden;
        line-height: 0;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        .image-overlay {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
            transition: transform 0.3s ease;
        }

        &:hover .image-overlay {
            transform: scale(1.1);
            filter: brightness(60%);
            cursor: pointer;
        }

        .property-tags {
            display: flex;
            gap: 6px;
            position: absolute;
            top: 10px;
            left: 10px;
            z-index: 2;
        }

        .tag {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 8px;
            height: 28px;
            border-radius: 99px;
            background-color: var(--color-tag);
            color: var(--white);
            font-size: 12px;
            font-weight: 600;
            transition: all 0.3s ease;
            cursor: pointer;

            &.active {
                background-color: var(--primary-color);
            }

            &.tag-sale:hover {
                background-color: var(--primary-color);
            }
        }

        .property-location {
            display: flex;
            align-items: center;
            gap: 6px;
            position: absolute;
            left: 20px;
            bottom: 12px;
            z-index: 2;

            .icon-location::before {
                content: "\e904";
                font-family: "icomoon";
                color: var(--white);
                font-size: 16px;
            }

            .location-text {
                color: var(--white);
                font-size: 14px;
                margin: 0;
                line-height: 1.4;
            }
        }
    }

    .property-content {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .property-name {
            font-weight: 600;
            color: var(--text-dark);
            margin: 0;

            .property-link:hover {
                color: var(--primary-color);
            }
        }

        .property-description {
            display: flex;
            gap: 16px;
            margin-top: 12px;
            padding-bottom: 24px;
            border-bottom: 1px solid var(--border-card);

            .desc-item {
                display: flex;
                align-items: center;
                gap: 4px;

                .desc-label {
                    color: var(--text-label);
                }

                .desc-value {
                    font-weight: 600;
                    color: var(--text-dark);
                }
            }
        }

        .property-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user {
                display: flex;
                align-items: center;
                gap: 8px;

                .user-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .user-name {
                    color: var(--text-dark);
                    font-size: 14px;
                }
            }

            .price {
                font-weight: 600;
                color: var(--text-dark);
                font-size: 18px;
            }
        }
    }
}