// ======================Footer=============================
.footer {
    background-color: var(--text-dark);
    background-size: cover;
    background-repeat: no-repeat;

    .top-footer {
        padding: 50px 0;
        border-bottom: 1px solid var(--border-color);

        .content-top-footer {
            gap: 20px;
            flex-wrap: wrap;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .footer-socials {
                .text-social {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 24px;
                    color: var(--white);
                    margin-right: 16px;
                }

                .list-social {
                    span {
                        color: var(--white);
                    }
                }
            }
        }

    }

    .inner-footer {
        padding: 50px 0;

        .info-item a {
            &:hover {
                text-decoration: underline;
                color: var(--primary-color);
            }
        }
    }

    .content-bottom {
        padding: 30px 0;
        border-top: 1px solid var(--border-color);
        flex-wrap: wrap;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .copy-right {
            color: var(--text-light);
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
        }

        .menu-bottom {
            gap: 19px;

            .item-bottom {
                color: var(--text-light);
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

    }
}

.footer-info-1 {
    margin-right: 20.4%;
}

.footer-info-2 {
    margin-left: 15.4%;
}

.footer-info-3 {
    margin-left: 20%;
}

.footer-info-4 {
    margin-left: 17.3%;
}

.footer-send {
    position: relative;
    margin-top: 26px;

    .input-send {
        background: #FFFFFF12;
        border: #FFFFFF12;
        padding: 12px 16px;
        border-radius: 999px;
        font-weight: 400;
        font-size: 14px;
        border: none;
        line-height: 19.6px;
        color: var(--white);
        font-style: unset;
        width: 100%;

        &::placeholder {
            color: var(--text-light);
            opacity: 1;

        }
    }

    .button-send {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 16px;

    }
}

.list-social {
    flex-wrap: wrap;
    gap: 12px;
}