.tf-grid-layout {
    display: grid;
    gap: 30px;

    &.tf-col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &.tf-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &.tf-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    &.tf-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    &.tf-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    &.tf-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    // item full width
    .wg-pagination,
    .wd-load {
        grid-column: 1 / -1;
        width: 100%;
    }
}

/* ================== BREAKPOINTS ================== */
@media (max-width: 1440px) {

    // xxl
    .tf-grid-layout {
        &.xxl-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.xxl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xxl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xxl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xxl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xxl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

@media (max-width: 1200px) {

    // xl
    .tf-grid-layout {

        &.xl-col-1 {
            grid-template-columns: 1fr;
        }

        &.xl-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.xl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.xl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.xl-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.xl-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.xl-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

@media (max-width: 1024px) {
    .tf-grid-layout {
        &.lgp-col-1 {
            grid-template-columns: 1fr;
        }

        &.lgp-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.lgp-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.lgp-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.lgp-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.lgp-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.lgp-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

@media (max-width: 992px) {

    // lg
    .tf-grid-layout {
        &.lg-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.lg-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.lg-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

@media (max-width: 768px) {

    // md
    .tf-grid-layout {
        &.md-col-1 {
            grid-template-columns: 1fr;
        }

        &.md-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.md-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.md-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.md-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}

@media (max-width: 576px) {

    // sm
    .tf-grid-layout {
        &.sm-col-1 {
            grid-template-columns: 1fr;
        }

        &.sm-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }

        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.sm-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }

        &.sm-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }

        &.sm-col-6 {
            grid-template-columns: repeat(6, 1fr);
        }

        &.sm-col-7 {
            grid-template-columns: repeat(7, 1fr);
        }
    }
}