// ===================PARTNER====================
.partners {
    gap: 20px;
    flex-direction: column;

    &__title {
        font-weight: 600;
        color: var(--black);
        font-size: 18px;
        line-height: 25.2px;
        white-space: nowrap;
        margin-bottom: 20px;
        text-align: center;
    }

    &__wrapper {
        overflow: hidden;
        width: 100%;
    }

    &__list {
        display: flex;
        gap: 30px;
        width: max-content;
        animation: scroll 30s linear infinite;

        &:hover {
            animation-play-state: paused;
        }

    }

    &__item {
        width: 160px;
        height: 80px;
        object-fit: contain;
        transition: filter 0.3s ease, transform 0.3s ease;
        cursor: pointer;

        &:hover {
            filter: brightness(0) saturate(100%) invert(32%) sepia(91%) saturate(1359%) hue-rotate(198deg) brightness(88%) contrast(100%);
            transform: scale(1.05);
        }
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}